:host {
  display: flex;
  align-items: flex-end;

  .btn {
    border-width: 1.5px;
  }
}

.form-group {
  flex-grow: 1;
  position: relative;

  .select-caret {
    position: absolute;
    right: 1rem;
    bottom: 0.6rem;
  }

  .form-control {
    cursor: pointer !important;
    background: transparent !important;
  }

  .select-menu {
    z-index: 2000;
    display: none;
    position: absolute;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    list-style: none;
    background: var(--light);
    box-shadow: 0 0.01rem 0.4rem rgba(0, 0, 0, 0.175);
    border: 1px solid #dbdbdb;
    margin-top: 1px;
    border-radius: 5px;

    &.show {
      display: block;
    }

    ul {
      list-style: none;

      span {
        padding-left: 1rem !important;
      }
    }

    li {
      display: flex;
      flex-direction: column;
    }

    .select-item {
      pointer-events: all !important;
      background-color: #fff;
      cursor: pointer;
      font-size: 15px;
      max-width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      display: flex;
      align-items: center;
      flex-direction: row;

      &.default-option {
        span {
          color: #21212188;

          &:hover,
          &.active,
          &:active {
            background: #efefef;
            color: #21212188 !important;
          }
        }
      }

      span.select-item-text {
        flex-grow: 1;
      }

      span {
        color: #212121;
        padding: 0.25rem 0.5rem;

        &.has-children {
          font-weight: 700;
        }
      }

      &:hover,
      &.active,
      &:active {
        background: #efefef;
        color: #212121;
      }
    }
  }
}
