:host {
  max-height: 100%;
  overflow-y: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: block;
}

.group-container {
  display: flex;
  flex-direction: column;
}

.divider {
  width: 98%;
  height: 1px;
  background: var(--app-gray-300);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}
