<div class="container-fluid px-4 h-100 d-flex flex-column">
  <div class="d-flex align-items-center mb-4">
    <span class="btn-icon me-3" routerLink="/albums">
      <i class="fas fa-angle-left"></i>
    </span>
    <h2 class="mb-0 fw-bold">{{ album?.title || 'Crear nuevo Album' }}</h2>
  </div>

  <form class="form flex-grow-1 d-flex flex-column" #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="row flex-grow-1">
      <div class="col-sm-12">
        <div class="row">
          <app-input placeholder="Titulo" name="title" [(ngModel)]="album.title" class="col-sm-6" required></app-input>
          <app-input
            placeholder="Descripción"
            name="description"
            [(ngModel)]="album.description"
            class="col-sm-12"
            controlType="textarea"
          ></app-input>
          <app-datepicker
            name="releasedOn"
            class="col-sm-4"
            placeholder="Fecha de lanzamiento"
            [(ngModel)]="album.releasedOn"
          ></app-datepicker>
          <app-select
            name="recordLabel"
            class="col-sm-4"
            placeholder="Sello Discografico"
            [items]="recordLabels"
            [(ngModel)]="album.recordLabel"
          ></app-select>
          <app-multiselect
            name="artists"
            class="col-sm-4"
            placeholder="Artistas"
            [items]="artists"
            [(ngModel)]="album.artists"
          ></app-multiselect>
          <app-multiselect
            name="collaborations"
            class="col-sm-4"
            placeholder="Colaboradores"
            [items]="artists"
            [(ngModel)]="album.contributors"
          ></app-multiselect>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <button class="btn btn-primary" type="submit">Guardar</button>
    </div>
  </form>
</div>
