.input-container {
  margin-bottom: 1rem;
  .input-label {
    font-size: 12px;
    margin-bottom: 0.1rem;
    font-weight: 300;
  }
  .input-control {
    font-weight: 300;
    border-top-right-radius: 0.35rem !important;
    border-bottom-right-radius: 0.35rem !important;
    transition: all 0.2s ease !important;
  }
  .input-text-error {
    margin-left: 2px;
    font-size: 12px;
    color: var(--app-danger);
    margin-top: 0.1rem;
  }
}
