<div class="form-group input-container">
  <label class="form-label input-label">{{ label || placeholder }}</label>
  <div class="input-group">
    <input
      [type]="type"
      [placeholder]="placeholder"
      class="form-control input-control"
      [class.active]="!!value"
      *ngIf="controlType === 'input'"
      [ngModel]="value"
      (ngModelChange)="onValueChange($event)"
      [readOnly]="readonly"
    />
    <ng-content></ng-content>
  </div>
  <textarea
    [placeholder]="placeholder"
    [rows]="rows"
    [class.active]="!!value"
    class="form-control input-control"
    *ngIf="controlType === 'textarea'"
    [ngModel]="value"
    (ngModelChange)="onValueChange($event)"
    [readOnly]="readonly"
  ></textarea>
  <p class="form-text text-muted text-help input-text-help" *ngIf="!!helperText">
    {{ helperText }}
  </p>
  <p [hidden]="valid || untouched" class="input-text-error">
    {{ validationMessages }}
  </p>
</div>
