<div class="group-container container-fluid px-3" scrollbar>
  <div class="d-flex flex-column align-items-start mb-2">
    <button class="btn btn-icon ps-0 pb-0 btn-back text-primary" routerLink="/groups">
      <i class="icon-arrow-left"></i>
      <span>Atrás</span>
    </button>
    <h2 class="mb-0 fw-bold">{{ group?.name || 'Crear nuevo Grupo' }}</h2>
  </div>
  <form class="form d-flex flex-column flex-grow-1" #form="ngForm" novalidate>
    <ul #nav="ngbNav" class="nav nav-tabs mb-2" ngbNav [activeId]="currentFragment | async">
      <li ngbNavItem="professional">
        <a ngbNavLink routerLink="." fragment="professional">Datos Profesionales</a>
        <ng-template ngbNavContent>
          <div class="row">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-4">
                  <div class="row">
                    <app-input
                      class="col-sm-12"
                      name="nombre"
                      [(ngModel)]="group.name"
                      placeholder="Nombre"
                      required
                    ></app-input>
                    <app-tags
                      class="col-sm-12"
                      name="nombresAdicionales"
                      [(ngModel)]="group.additionalNames"
                      label="Nombres adicionales"
                      placeholder="Nombres adicionales"
                    ></app-tags>
                  </div>
                </div>
                <app-input
                  class="col-sm-8"
                  [(ngModel)]="group.description"
                  [controlType]="'textarea'"
                  name="biography"
                  [placeholder]="'Biografia'"
                ></app-input>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-4">
                  <app-input name="isniCode" [(ngModel)]="group.isniCode" [placeholder]="'ISNI'">
                    <button class="btn btn-link bg-transparent shadow-none">
                      <a
                        class="fw-normal"
                        [class.disabled]="!group.isniCode"
                        href="https://isni.org/isni/{{ formatISNI(group.isniCode) }}"
                      >
                        isni.com
                      </a>
                    </button>
                  </app-input>
                </div>
                <div class="col-sm-4">
                  <app-input
                    name="activeSince"
                    type="number"
                    [(ngModel)]="group.activeSince"
                    placeholder="Activo desde"
                  >
                  </app-input>
                </div>
                <div class="col-sm-4">
                  <app-input
                    name="activeUntil"
                    type="number"
                    [(ngModel)]="group.activeUntil"
                    placeholder="Activo hasta"
                  >
                  </app-input>
                </div>

                <div class="col-sm-8">
                  <app-selector
                    name="albums"
                    [multiple]="true"
                    [(ngModel)]="group.albums"
                    [placeholder]="'Albums'"
                    [data$]="albums$"
                    [showCreate]="true"
                    (create)="createAlbum(albumModal)"
                    [optionTemplate]="optionTemp"
                    [labelTemplate]="labelTemp"
                  >
                    <ng-template #optionTemp let-item="item">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">{{ item?.title }}</h5>
                          <p class="card-text">{{ item?.description }}</p>
                          <div class="d-flex">
                            <span class="card-text text-muted">{{ item?.releaseDate }}</span>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                    <ng-template #labelTemp let-item="item" let-clear="clear">
                      <span class="ng-value-label">
                        {{ item?.title }}
                      </span>
                      <span class="ng-value-icon right fw-bold" (click)="clear(item)" aria-hidden="true"> × </span>
                    </ng-template>
                  </app-selector>
                </div>

                <div class="col-sm-4">
                  <app-selector
                    name="genres"
                    [placeholder]="'Géneros'"
                    [data$]="genres$"
                    [(ngModel)]="group.genres"
                    [showCreate]="true"
                    [multiple]="true"
                    (create)="createGenre(genreModal)"
                  >
                  </app-selector>
                </div>
                <div class="col-sm-4">
                  <app-selector
                    name="awards"
                    [placeholder]="'Premios'"
                    [data$]="awards$"
                    [(ngModel)]="group.awards"
                    [showCreate]="true"
                    [multiple]="true"
                    (create)="createAward(awardModal)"
                  >
                  </app-selector>
                </div>

                <div class="col-sm-4">
                  <app-selector
                    name="affiliation"
                    [placeholder]="'Afiliación'"
                    [data$]="organizations$"
                    [(ngModel)]="group.affiliation"
                  ></app-selector>
                </div>

                <div class="col-sm-4">
                  <app-selector
                    name="labels"
                    [placeholder]="'Sellos Discográficos'"
                    [data$]="recordLabels$"
                    [showCreate]="true"
                    (create)="createRecordLabel(recordLabelModal)"
                    [multiple]="false"
                    [(ngModel)]="group.label"
                  ></app-selector>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </li>
      <li ngbNavItem="contact" [disabled]="!isEditMode">
        <a ngbNavLink routerLink="." fragment="contact">Datos de Contacto</a>
        <ng-template ngbNavContent>
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-4">
                <app-input [placeholder]="'Correo Electrónico'" [(ngModel)]="group.email" name="email"></app-input>
              </div>
              <div class="col-sm-4">
                <app-input [placeholder]="'Sitio Web'" [(ngModel)]="group.website" name="website"></app-input>
              </div>
              <div class="col-sm-4">
                <app-input [placeholder]="'Spotify'" [(ngModel)]="group.spotify" name="spotify"></app-input>
              </div>
              <div class="col-sm-4">
                <app-input [placeholder]="'Apple Music'" [(ngModel)]="group.appleMusic" name="apple"></app-input>
              </div>
              <div class="col-sm-4">
                <app-input [placeholder]="'Sound Cloud'" [(ngModel)]="group.soundCloud" name="soundcloud"></app-input>
              </div>
              <div class="col-sm-4">
                <app-input [placeholder]="'Deezer'" [(ngModel)]="group.deezer" name="deezer"></app-input>
              </div>
              <div class="col-sm-4">
                <app-input [placeholder]="'Youtube'" [(ngModel)]="group.youtube" name="youtube"></app-input>
              </div>
              <div class="col-sm-4">
                <app-input [placeholder]="'Instagram'" [(ngModel)]="group.instagram" name="instagram"></app-input>
              </div>
              <div class="col-sm-4">
                <app-input [placeholder]="'Vibrate'" [(ngModel)]="group.viberate" name="vibrate"></app-input>
              </div>
              <div class="col-sm-4">
                <app-input
                  [placeholder]="'Reverb Nation'"
                  [(ngModel)]="group.reverbNation"
                  name="reverbNation"
                ></app-input>
              </div>
              <div class="col-sm-4">
                <app-input [placeholder]="'Facebook'" [(ngModel)]="group.facebook" name="facebook"></app-input>
              </div>
              <div class="col-sm-4">
                <app-input [placeholder]="'Twitter'" [(ngModel)]="group.twitter" name="twitter"></app-input>
              </div>
              <div class="col-sm-4">
                <app-input [placeholder]="'TikTok'" [(ngModel)]="group.tiktok" name="tiktok"></app-input>
              </div>
              <div class="col-sm-4">
                <app-input [placeholder]="'Biblioteca del Congreso'" [(ngModel)]="group.libOfCongress" name="loc">
                </app-input>
              </div>
            </div>
          </div>
        </ng-template>
      </li>
      <li ngbNavItem="quotes" [disabled]="!isEditMode">
        <a ngbNavLink routerLink="." fragment="quotes">Quotes</a>
        <ng-template ngbNavContent>
          <app-group-quotes class="col-sm-12" [group]="group"></app-group-quotes>
          <!--<div class="col-sm-12">
            <div class="d-flex mb-2">
              <button class="btn btn-primary ms-auto" type="button" (click)="addQuote(quoteModal)">
                <i class="fas fa-comment me-2"></i> Agregar Quote
              </button>
            </div>
            <app-table [columns]="quotesColumns" [data]="quotes" [rowHeight]="100"></app-table>
          </div>-->
        </ng-template>
      </li>
      <li ngbNavItem="articles" [disabled]="!isEditMode">
        <a ngbNavLink routerLink="." fragment="articles">Artículos Relacionados</a>
        <ng-template ngbNavContent>
          <app-group-articles class="col-sm-12" [group]="group"></app-group-articles>
          <!--<div class="col-sm-12">
            <div class="d-flex mb-2">
              <button class="btn btn-primary ms-auto" type="button" (click)="addArticle(articleModal)">
                <i class="fas fa-link me-2"></i> Agregar Articulo
              </button>
            </div>
            <app-table [columns]="articlesColumns" [data]="articles"></app-table>
          </div>-->
        </ng-template>
      </li>
      <li ngbNavItem="gallery" [disabled]="!isEditMode">
        <a ngbNavLink routerLink="." fragment="gallery">Galeria</a>
        <ng-template ngbNavContent>
          <div class="col-sm-12">
            <div class="row">
              <app-gallery
                class="col-sm-12"
                [images]="groupImages$"
                (deleteImage)="deleteArtistImage($event)"
                (submitImage)="uploadArtistImage($event)"
              >
              </app-gallery>
            </div>
          </div>
        </ng-template>
      </li>
    </ul>
    <div class="row flex-grow-1 mt-2" [ngbNavOutlet]="nav"></div>
    <div class="row">
      <div class="col-sm-12 mb-3 mt-4">
        <div class="d-flex">
          <button type="button" (click)="onSubmit(form)" class="btn btn-primary ms-auto">
            {{ group.id!! ? 'Guardar' : 'Crear' }}
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<ng-template #recordLabelModal let-modal>
  <div class="modal-header">
    <h3 class="mb-0 fw-bold">Crear nuevo Sello Discográfico</h3>
  </div>
  <div class="modal-body">
    <div class="row">
      <app-input placeholder="IPI" name="ipi" [(ngModel)]="label.ipiCode" class="col-sm-6" required></app-input>
      <app-input placeholder="ISNI" name="isni" [(ngModel)]="label.isniCode" class="col-sm-6" required></app-input>
      <app-input placeholder="Nombre" name="name" [(ngModel)]="label.name" class="col-sm-12" required></app-input>
      <app-input
        placeholder="Descripción"
        name="description"
        [(ngModel)]="label.description"
        class="col-sm-12"
        controlType="textarea"
      ></app-input>
      <app-phone-input class="col-sm-12" [(phone)]="label.phone" [countries]="fullCountries$ | async"></app-phone-input>
      <app-input name="email" [(ngModel)]="label.email" placeholder="Email" class="col-sm-12"></app-input>
      <app-selector
        class="col-sm-6"
        name="country"
        placeholder="País"
        [showCreate]="true"
        (create)="createCountry(countryModal)"
        [data$]="countries$"
        [(ngModel)]="label.country"
      >
      </app-selector>
      <app-input name="website" [(ngModel)]="label.website" placeholder="Sitio Web" class="col-sm-6"></app-input>
      <app-input name="address" [(ngModel)]="label.address" placeholder="Dirección" class="col-sm-12"></app-input>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-light text-primary" (click)="modal.dismiss()">Cerrar</button>
    <button class="btn btn-primary" (click)="modal.close('accept')">Aceptar</button>
  </div>
</ng-template>

<ng-template #genreModal let-modal>
  <div class="modal-header">
    <h5 class="mb-0 fw-bold">Nuevo Genero</h5>
  </div>
  <div class="modal-body">
    <app-input [placeholder]="'Nombre'" [(ngModel)]="genre.name" class="col-sm-12"></app-input>
    <app-input controlType="textarea" [placeholder]="'Descripcion'" [(ngModel)]="genre.description" class="col-sm-12">
    </app-input>
  </div>
  <div class="modal-footer">
    <button class="btn btn-light" type="button" (click)="modal.dismiss()">Cerrar</button>
    <button class="btn btn-primary" type="button" (click)="modal.close('accept')">Aceptar</button>
  </div>
</ng-template>

<ng-template #awardModal let-modal>
  <div class="modal-header">
    <h4 class="mb-0 fw-bold">Nuevo Premio</h4>
  </div>
  <form class="modal-body">
    <div class="row">
      <app-input placeholder="Nombre" name="name" [(ngModel)]="award.title" class="col-sm-6" required></app-input>
      <app-input
        placeholder="Descripción"
        name="description"
        [(ngModel)]="award.description"
        class="col-sm-12"
        controlType="textarea"
      ></app-input>

      <app-selector class="col-sm-4" name="country" placeholder="País" [data$]="countries$" [(ngModel)]="award.country">
      </app-selector>

      <app-selector
        class="col-sm-4"
        name="granted"
        placeholder="Otorgado por"
        [data$]="organizations$"
        [(ngModel)]="award.grantedBy"
      ></app-selector>

      <app-tags
        name="categories"
        label="Categorías"
        placeholder="Añadir Categoría"
        [(ngModel)]="award.categories"
        class="col-sm-8"
      ></app-tags>
    </div>
  </form>
  <div class="modal-footer">
    <button class="btn btn-light" (click)="modal.dismiss()">Cerrar</button>
    <button class="btn btn-primary" (click)="modal.close('accept')">Aceptar</button>
  </div>
</ng-template>

<ng-template #albumModal let-modal>
  <div class="modal-header">
    <h3 class="mb-0 fw-bold">Crear nuevo album</h3>
  </div>
  <form #form="ngForm" class="modal-body">
    <div class="row">
      <app-input placeholder="Titulo" name="title" [(ngModel)]="album.title" class="col-sm-6" required></app-input>
      <app-input
        placeholder="Descripción"
        name="description"
        [(ngModel)]="album.description"
        class="col-sm-12"
        controlType="textarea"
      ></app-input>
      <app-datepicker
        name="releasedDate"
        class="col-sm-3"
        placeholder="Fecha de lanzamiento"
        [(ngModel)]="album.releasedDate"
      ></app-datepicker>
      <app-input
        name="copyrightYear"
        class="col-sm-3"
        placeholder="Copyright Year"
        [(ngModel)]="album.copyrightYear"
        type="number"
      ></app-input>
      <div class="row"></div>
      <app-selector
        name="recordLabel"
        class="col-sm-4"
        placeholder="Sello Discografico"
        [data$]="recordLabels$"
        [(ngModel)]="album.recordLabel"
        [showCreate]="true"
        (create)="createRecordLabel(recordLabelModal)"
      >
      </app-selector>

      <app-selector
        name="contributors"
        class="col-sm-4"
        placeholder="Contribuidores"
        [data$]="artists$"
        [(ngModel)]="album.contributors"
      ></app-selector>
    </div>
  </form>
  <div class="modal-footer">
    <button class="btn btn-light text-primary" (click)="modal.dismiss()">Cerrar</button>
    <button class="btn btn-primary" (click)="onDoneAlbumModal(modal, form)">Aceptar</button>
  </div>
</ng-template>

<ng-template #countryModal let-modal>
  <div class="modal-header">
    <h5 class="fw-bold mb-0">Agregar Pais</h5>
  </div>
  <form #form="ngForm" class="modal-body">
    <app-input placeholder="Nombre" [(ngModel)]="country.name" name="country" class="col-sm-12" required></app-input>
    <app-input
      placeholder="Código ISO"
      [(ngModel)]="country.iso2Code"
      name="iso2Code"
      class="col-sm-12"
      required
    ></app-input>
    <app-input
      placeholder="Código Telefónico"
      [(ngModel)]="country.phoneCode"
      name="telcode"
      class="col-sm-12"
      required
    ></app-input>
  </form>
  <div class="modal-footer">
    <button class="btn btn-light text-primary" (click)="modal.dismiss()">Cerrar</button>
    <button class="btn btn-primary" (click)="onAddCountry(form, modal)">Aceptar</button>
  </div>
</ng-template>
