<div class="form-group tags-container">
  <label class="form-label tags-label">{{ label || placeholder }}</label>
  <tag-input
    class="tag-input tags-control"
    [ngModel]="value"
    [ripple]="false"
    (ngModelChange)="onInputChange($event)"
    [placeholder]="placeholder"
    [secondaryPlaceholder]="placeholder"
    [modelAsStrings]="true"
    [trimTags]="true"
    [disable]="isDisabled"
  ></tag-input>
  <span class="fa fa-tags"></span>
  <small class="helper-text text-muted">(Presiona Enter para agregar cada valor)</small>
</div>
