.sidebar-container {
  width: 240px;
  height: 100vh;
  color: var(--app-gray-800);
  display: flex;
  flex-direction: column;
}

.sidebar-header {
  display: flex;
  align-items: center;
  height: 56px;
  padding: 1rem;

  .sidebar-brand {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    line-height: 0.9;
    margin-top: 3rem;
    font-size: 30px;
    font-weight: 900;
  }

  .sidebar-toggle {
    width: 24px;
    height: 24px;
    border-radius: 50%;

    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.sidebar-nav {
  margin-top: 4rem;
}

.sidebar-nav ul {
  list-style: none;
  padding-left: 0.8rem;
  padding-right: 0.8rem;

  li {
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 0.5rem 0.3rem;
    color: var(--app-gray-800);
    border-radius: 0.3rem;
    margin-top: 2px;
    transition: all 0.1s ease;
    &.active {
      background-color: var(--app-secondary);
      color: var(--app-primary);
    }

    &:hover:not(.active) {
      background-color: var(--app-gray-300);
    }

    i {
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 0.25rem;
    }

    a {
      font-weight: 800;
      color: inherit;
    }
  }
}

.sidebar-settings {
  margin-top: auto;
  padding: 0.8rem;
  font-weight: 700;
  font-size: 14px;
  display: flex;

  a {
    padding: 0.5rem 0.5rem;
    color: var(--app-gray-800);
    border-radius: 0.3rem;
    width: 100%;
    transition: all 0.1s ease;
    &:hover {
      background-color: var(--app-gray-300);
    }
  }
}
