<div class="sidebar-container" [@openClose]="showSidebar ? 'open' : 'close'" [class.closed]="!showSidebar">
  <div class="sidebar-header">
    <h2 class="sidebar-brand">
      <a href="/">cuban.music</a>
      <small>administracion</small>
    </h2>
    <button class="btn btn-icon sidebar-toggle" (click)="toggle()">
      <i class="icon-menu"></i>
    </button>
  </div>
  <div class="sidebar-nav">
    <ul class="mt-2">
      <li routerLinkActive="active" routerLink="/home">
        <i class="icon-home me-4"></i>
        <a> Inicio</a>
      </li>
      <li routerLinkActive="active" routerLink="/artists">
        <i class="icon-user me-4"></i>
        <a> Artistas</a>
      </li>
      <li routerLinkActive="active" routerLink="/groups">
        <i class="icon-people me-4"></i>
        <a>Grupos</a>
      </li>
      <li routerLinkActive="active" routerLink="/organizations">
        <img
          class="building-light me-4"
          src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAABQCAYAAACOEfKtAAAABmJLR0QA/wD/AP+gvaeTAAABMElEQVR4nO3cQW6DQBBE0Rkr979UlGu5swEJRYkg/B6mEf/tkMcGFWVMs3BrkiRJkv6tkzdHRGQdyEy999M5vDIP5Ik+Mj6EnMGZMr5BNhBKCTAWm+2viPgsvB0Z7WttXAPfrbUovF1L5hm9wh0a+BgGCBkgZIBQyo30b/66SP+86Z61LosNhIYH2BdV11E2EDJAyAChYb/Cq6Mj06x1lA2swIcJOs0AIQOEnIUhGwg5C0M2EDJAyAAhZ2HIBlbgLKzTDBAyQMhZGLKBkLMwZAMhA4QMEHIWhmxgBc7COs0AIQOEys7CRzkL39zw+8D1zO81Y319rylH1+3tN4sNhAwQMkCozCx81/3aQGhYA2f9EcXV+7WBkAFCBggZIJRywb3Tw9StjB8cGyhJkiTpet8r1D9yofv4FQAAAABJRU5ErkJggg=="
        />
        <img
          class="building-dark me-4"
          src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAABQCAYAAACOEfKtAAAABmJLR0QA/wD/AP+gvaeTAAABKklEQVR4nO3cwQ6CMBBF0WL8/58y/pa4IhGiofYO7RDu2ZFUwccTGRaWIkmSJOlvE3z9HHIU4zXncIs8iiu6B70PbfIo+BtkA6GoAOeyPpvPUsoj8fb2eJsd1cBXWR9gtu10ws5oJ+kbeBkGCBkgZIBQ1I30N78u0tub7lHrQthAqEeAU6k7+6PWITYQMkDIAKEjf4UXtSPTqHWIDUzChwlqY4CQAULOwpANhJyFIRsIGSBkgJCzMGQDk3AWVhsDhAwQchaGbCDkLAzZQMgAIQOEnIUhG5iEs7DaGCBkgFDmWbiWs/CZ9bgPXM78XjPmzfYvtev29hvCBkIGCBkglGkWPuV+bSB0ZANH/RFF1/3aQMgAIQOEDBCKuuCe6WHqJ/z5baAkSZKk/t7kGFu0UE9xxAAAAABJRU5ErkJggg=="
        />
        <a>Instituciones</a>
      </li>
      <li routerLinkActive="active" routerLink="/labels">
        <i class="icon-microphone me-4"></i>
        <a>Sellos Discográficos</a>
      </li>
      <li routerLinkActive="active" routerLink="/awards">
        <i class="icon-trophy me-4"></i>
        <a>Premios</a>
      </li>
      <li routerLinkActive="active" routerLink="/albums">
        <i class="icon-disc me-4"></i>
        <a>Albums</a>
      </li>
      <li routerLinkActive="active" routerLink="/venues">
        <i class="icon-location-pin me-4"></i>
        <a>Venues</a>
      </li>
    </ul>
  </div>
  <div class="sidebar-footer"></div>
</div>
