<div class="sidebar-container" [@openClose]="showSidebar ? 'open' : 'close'">
  <div class="sidebar-header">
    <span class="sidebar-brand">
      <span>cuban.</span>
      <span>music.</span>
      <span>info</span>
    </span>
    <span class="btn-icon sidebar-toggle">
      <i class="fas fa-bars"></i>
    </span>
  </div>
  <div class="sidebar-nav">
    <ul class="mt-2">
      <li routerLinkActive="active" routerLink="/artists">
        <i class="fas fa-user"></i>
        <a> Artistas</a>
      </li>
      <li routerLinkActive="active" routerLink="/groups">
        <i class="fas fa-users"></i>
        <a>Grupos</a>
      </li>
      <li routerLinkActive="active" routerLink="/organizations">
        <i class="fas fa-building"></i>
        <a>Instituciones</a>
      </li>
      <li routerLinkActive="active" routerLink="/labels">
        <i class="fas fa-microphone"></i>
        <a>Sellos Discográficos</a>
      </li>
      <li routerLinkActive="active" routerLink="/awards">
        <i class="fas fa-award"></i>
        <a>Premios</a>
      </li>
      <li routerLinkActive="active" routerLink="/albums">
        <i class="fas fa-record-vinyl"></i>
        <a>Albums</a>
      </li>
      <li routerLinkActive="active" routerLink="/venues">
        <i class="fas fa-guitar"></i>
        <a>Venues</a>
      </li>
    </ul>
  </div>
  <div class="sidebar-settings">
    <a href="#"><i class="fas fa-cogs me-2"></i>Configuración</a>
  </div>
</div>
