.sidebar-container {
  width: 240px;
  height: 100vh;
  color: var(--app-gray-800);
}

.sidebar-header {
  display: flex;
  align-items: center;
  height: 56px;
  padding: 1rem;

  .sidebar-brand {
    flex-grow: 1;
    font-size: 24px;
    font-weight: 900;
    text-transform: lowercase;
  }

  .sidebar-brand strong {
    color: var(--app-primary);
    font-weight: 900;
  }

  .sidebar-toggle {
    width: 24px;
    height: 24px;
    border-radius: 50%;

    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.sidebar-nav ul {
  list-style: none;
  padding-left: 0.8rem;

  li {
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 0.25rem 0.12rem;

    i {
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 0.5rem;
    }

    a {
      color: var(--app-gray-800);
      font-weight: 800;
    }
  }
}
