/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

/** Base Bootstrap utilities  */
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/utilities";

@import "../../node_modules/bootstrap/scss/utilities/api";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/helpers";
@import "../../node_modules/bootstrap/scss/modal";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/dropdown";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/alert";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/card";
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/list-group";

@import "~perfect-scrollbar/css/perfect-scrollbar.css";

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

a.disabled {
  color: $disabled-color !important;
  pointer-events: none;
  cursor: none;
}

.btn:not(.btn-icon):not(.btn-link) {
  min-width: 100px;
}

.btn {
  font-weight: 500 !important;
}

.btn.btn-primary {
  color: $white;
}

.btn.btn-icon {
  border: none !important;
  box-shadow: none !important;
  cursor: pointer;
}

.btn-icon {
  cursor: pointer;
}

.btn.btn-light {
  color: $secondary;
}

.btn-back {
  i {
    font-size: 12px;
  }
  span {
    font-size: 16px;
  }
}

.tab-content {
  min-height: 400px;
}

.nav-tabs {
  background-color: $light;
  border-radius: $border-radius;
  padding: 4px;
  border-bottom: none;

  .nav-link {
    color: $secondary;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 0;
    border: none;
  }

  .nav-link.active {
    color: $primary;
    border: none;
    border-radius: $border-radius;
  }

  .nav-link.disabled {
    color: $disabled-color;
  }
}

.modal {
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  will-change: scale;

  &.fade {
    transform: scale(0.3);
    opacity: 0;
  }

  &.show {
    opacity: 1;
    transform: scale(1);
  }
}

.notifier__container {
  position: fixed;
  top: 24px;
  right: 24px;

  .notifier__container-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .notifier__container-list-item {
    .notifier__notification {
      transition: all 0.05s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
      min-width: 300px;
      background-color: $light;
      color: $dark;
      padding: 1rem;
      border-radius: 0.35rem;
      display: flex;
      align-items: center;
      position: fixed; // Overlay
      visibility: hidden; // Notifications are hidden by default, and get shown (or animated in) dynamically by the Angular component
      z-index: 10000; // Pretty much random ...
      // This attribute forces this element to be rendered on a new layer, by the GPU, in order to improve its performance (#perfmatters)
      will-change: transform;

      // This attribute improves the overall scrolling performance for fixed position elements, such as this one (#perfmatters)
      // See <https://benfrain.com/improving-css-performance-fixed-position-elements/>
      backface-visibility: hidden;
      box-shadow: $box-shadow;



      p {
        margin: 0;
      }

      &-message {
        display: inline-block;
        flex-grow: 1;
        margin: {
          // Reset paragraph default styles
          top: 0;
          bottom: 0;
        }
        vertical-align: top;
        line-height: 32px;
        font-size: 14px;
      }

      &-button {
        display: inline-block;
        transition: opacity 0.2s ease;
        opacity: 0.5;
        margin: {
          right: -10px;
          left: 10px;
          bottom: 5px;
        }
        outline: none;
        border: none;
        background: none;
        cursor: pointer; // Make it obvious that the "button" (or, more honestly, icon) is clickable (#UX)
        padding: 6px;
        width: 32px;
        height: 32px;
        vertical-align: top;

        &:hover,
        &:focus {
          opacity: 1; // Make me "feel" the clickability with a transparency change (#UX)
        }

        &:active {
          transform: scale(0.82); // Make me "feel" the click by a push back (#UX)
          opacity: 1;
        }
      }

      &--success {
        background-color: #eff9ef;
        color: $success;
        border: 1px solid $success;
      }
      &--error {
        background-color: #fdedeb;
        color: $danger;
        border: 1px solid $danger;
      }
    }
  }
}

.badge {
  padding: 0.2rem 0.5rem;
  border-radius: 50rem;
  background-color: rgba($primary, 0.1);
  color: $primary;
}

// Body Scrollbar style
/* Firefox-only */
* {
  scrollbar-width: thin;
  scrollbar-color: #b7b7b7 #e5e5e5;
}

/* Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #e5e5e5;
}

*::-webkit-scrollbar-thumb {
  background-color: #b7b7b7;
  border-radius: 20px;
  //border: 3px solid #b7b7b7;
}
