/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */
@import "../../node_modules/ag-grid-community/src/styles/ag-theme-alpine-dark/sass/ag-theme-alpine-dark-mixin";
@import "./fonts.scss";

html,
body {
  color: $text-color-primary;
}

.dropdown-menu {
  padding: 0 !important;
  .dropdown-divider {
    margin: 0 !important;
  }
  .dropdown-item {
    padding: 0.5rem 1.5rem !important;
    &:last-child {
      border-bottom-left-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }
    &:first-child {
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
    }
  }
}

.ag-theme-alpine {
  @include ag-theme-alpine-dark(
    (
      odd-row-background-color: #cfd8dc,
      background-color: $dark-bg,
      header-background-color: $dark-header,
      border-color: transparent,
      row-hover-color: rgba($accent, 0.05),
    )
  );
}

.modal {
  .modal-dialog .modal-content {
    background-color: $dark-bg !important;
    padding: 2rem 3rem;
    max-height: 80vh;
    overflow-y: auto;
  }
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #fafafa15;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.btn {
  text-transform: uppercase;
  font-size: 12px;
  &.btn-primary {
    color: #fafafa !important;
    font-weight: bold;
  }
}
