/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

@import "~ag-grid-community/src/styles/ag-grid.scss";
@import "~ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin";

.ag-theme-alpine {
  @include ag-theme-alpine(
    (

      alpine-active-color: deeppink
    )
  );

  .ag-cell {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.dropdown-menu {
  right: 0;
}

.form-group {
  margin-bottom: 1rem;
}

body {
  overflow: hidden;
  max-height: 100vh;
}

.btn-icon {
  background-color: $gray-200;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.1s ease;

  &:hover,
  &:focus {
    background-color: $gray-300;
  }
}

/* Firefox-only */
* {
  scrollbar-width: thin;
  scrollbar-color: $gray-400 $gray-200;
}

/* Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: $gray-200;
}

*::-webkit-scrollbar-thumb {
  background-color: $gray-400;
  border-radius: 20px;
  //border: 3px solid #b7b7b7;
}

.form-control {
  &:focus {
    border: 1px solid #bdbdbd;
    box-shadow: inset 0 0 5px rgb(0 0 0 / 20%);
  }
}
