// SF Pro Text

@font-face {
  font-family: "SF Pro Text";
  src: url("../assets/fonts/SFProText/SF-Pro-Text-Light.otf") format("opentype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../assets/fonts/SFProText/SF-Pro-Text-Regular.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../assets/fonts/SFProText/SF-Pro-Text-RegularItalic.otf") format("opentype");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../assets/fonts/SFProText/SF-Pro-Text-Medium.otf") format("opentype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../assets/fonts/SFProText/SF-Pro-Text-Bold.otf") format("opentype");
  font-style: normal;
  font-weight: 700;
}

// SF Pro Display

@font-face {
  font-family: "SF Pro Display";
  src: url("../assets/fonts/SFProDisplay/SF-Pro-Display-Thin.otf") format("opentype");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../assets/fonts/SFProDisplay/SF-Pro-Display-Light.otf") format("opentype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../assets/fonts/SFProDisplay/SF-Pro-Display-Regular.otf") format("opentype");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../assets/fonts/SFProDisplay/SF-Pro-Display-Medium.otf") format("opentype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../assets/fonts/SFProDisplay/SF-Pro-Display-Bold.otf") format("opentype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../assets/fonts/SFProDisplay/SF-Pro-Display-Black.otf") format("opentype");
  font-style: normal;
  font-weight: 900;
}

@import "./theme/single-line-icons/simple-line-icons.css";
