<div class="images card d-flex flex-column" [photoGalleryGroup]="{ arrowEl: true }">
  <div style="max-height: 400px; display: flex; flex-wrap: wrap" class="card-body p-0">
    <div class="images-item" [photoGallery]="image1" style="width: 100%">
      <img [src]="image1" alt="" width="100%" />
    </div>
    <div class="images-item" [photoGallery]="image2" style="width: 30%">
      <img [src]="image2" alt="" width="100%" />
    </div>
    <div class="images-item" [photoGallery]="image3" style="width: 30%">
      <img [src]="image3" alt="" width="100%" />
    </div>
  </div>
  <div class="card-footer d-flex">
    <button class="btn btn-primary mx-auto my-2" type="button">
      <i class="fas fa-upload me-2"></i>
      Subir imagen
    </button>
  </div>
</div>
