<div class="gallery-container d-flex flex-column">
  <div class="d-flex">
    <button class="btn btn-primary ms-auto my-2" type="button" (click)="addImage(content)">
      <i class="fas fa-upload me-2"></i>
      Subir imagen
    </button>
  </div>

  <div class="grid" [photoGalleryGroup]="">
    <!--<div *ngFor="let item of images" class="img-fluid images-item" [photoGallery]="item">
      <img [src]="item" alt="" width="100%" loading="lazy"/>
    </div>-->
    <div *ngFor="let item of images | async" class="card">
      <img class="card-img-top" [src]="getImage(item)" loading="lazy" [photoGallery]="getImage(item)" />
      <div class="card-body">
        <h5 class="card-title">{{ item?.title }}</h5>
        <p class="card-text mb-0">
          <small class="text-muted">{{ item?.author || '-' }}</small>
        </p>
        <p class="card-text">
          <small class="text-muted">{{ item?.date | date }}</small>
        </p>
        <p class="card-text">
          {{ item?.description || '-' }}
        </p>
        <a class="card-link" (click)="onDeleteImage(item.id)">Eliminar</a>
      </div>
      <div class="card-footer" *ngIf="item.tags && item.tags.length">
        <small *ngFor="let _ of item.tags" class="badge me-2">{{ _ }}</small>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="mb-0 fw-bold">Subir nueva imagen</h4>
  </div>
  <div class="modal-body">
    <form class="row" #form="ngForm" (ngSubmit)="onSubmitModal(form, modal)">
      <app-fileinput name="file" placeholder="Archivos" [(ngModel)]="image.filedata" class="col-sm-12" required>
      </app-fileinput>
      <app-input name="title" placeholder="Título" [(ngModel)]="image.title" class="col-sm-12" required></app-input>
      <app-input name="author" placeholder="Autor" [(ngModel)]="image.author" class="col-sm-12"></app-input>
      <app-input
        name="desc"
        placeholder="Descripción"
        controlType="textarea"
        [(ngModel)]="image.description"
        class="col-sm-12"
      ></app-input>
      <app-tags name="tags" placeholder="Etiquetas" [(ngModel)]="image.tags" class="col-sm-12"></app-tags>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-light" (click)="modal.dismiss()">Cerrar</button>
    <button class="btn btn-primary" (click)="form.ngSubmit.emit()">Aceptar</button>
  </div>
</ng-template>
