.form-group {
  margin-bottom: 1rem;
  .form-label {
    font-size: 12px;
    margin-bottom: 0.1rem;
    font-weight: 300;
  }
  .form-control {
    font-weight: 300;
    border-top-right-radius: 0.35rem !important;
    border-bottom-right-radius: 0.35rem !important;
    transition: all 0.2s ease !important;
    background-color: var(--input-bg-color);
  }
  .validation-error {
    margin-left: 2px;
    font-size: 12px;
    color: var(--app-danger);
    margin-top: 0.1rem;
  }
}
