<div class="form-group selector-container">
  <label class="form-label selector-label">{{ label || placeholder }}</label>
  <div class="d-flex align-items-center">
    <ng-select
      class="selector-control flex-grow-1 ng-select"
      [class.is-empty]="isEmpty"
      [addTag]="canAdd"
      [addTagText]="'Añadir opción: '"
      [multiple]="multiple"
      [(ngModel)]="value"
      (change)="onModelChange()"
      (clear)="onModelClear()"
      [bindLabel]="bindLabel"
      [bindValue]="bindTo"
      [placeholder]="placeholder"
      [closeOnSelect]="!multiple"
      [clearSearchOnAdd]="true"
      [disabled]="isDisabled"
      [clearable]="true"
      [items]="data"
      [notFoundText]="'No se encontraron elementos'"
    >
      <ng-template ng-option-tmp let-item="item">
        <span *ngIf="!optionTemplate">
          {{ item.name || item }}
        </span>
        <ng-template [ngTemplateOutlet]="optionTemplate" [ngTemplateOutletContext]="{ item: item }"></ng-template>
      </ng-template>

      <ng-template ng-label-tmp let-item="item" let-clear="clear">
        <span *ngIf="!labelTemplate">
          <span class="ng-value-label">
            {{ item.name || item }}
          </span>
          <span class="ng-value-icon fw-bold" (click)="clear(item)" aria-hidden="true"> × </span>
        </span>
        <ng-template
          [ngTemplateOutlet]="labelTemplate"
          [ngTemplateOutletContext]="{ item: item, clear: clear }"
        ></ng-template>
      </ng-template>
    </ng-select>
    <span type="button" class="btn btn-link selector-btn-create text-primary" *ngIf="showCreate" (click)="onCreate()">
      Crear
    </span>
  </div>
</div>
