@import "/node_modules/@ng-select/ng-select/scss/default.theme.scss";

$primary: #f4655f;

.selector-container {
  margin-bottom: 1rem;

  .selector-btn-create {
    border-radius: 0.35rem !important;
    padding: 0.3rem;
  }
  .selector-control {
    width: 1%;
    margin-right: 8px;
    border-radius: 0.35rem;

    &.ng-select-multiple {
      .ng-dropdown-panel-items {
        .ng-option {
          background-color: var(--app-light) !important;
        }
      }

      .ng-select-container {
        .ng-value-container {
          .ng-value {
            background-color: rgba($primary, 0.1) !important;
            border-radius: 0.35rem !important;
            color: $primary;
            .ng-value-icon {
              border-left: 1px solid $primary;
            }
            .ng-value-icon:hover {
              background: transparent;
            }
          }
          .ng-input {
            margin-top: 0 !important;
            margin-left: 2px !important;
          }
          .ng-placeholder {
            padding: 0;
            top: 6px;
            left: 12px;
          }
        }
      }
    }

    &:focus,
    &.ng-select-focused {
      .ng-select-container {
        box-shadow: inset 0 1px 2px rgb(0 0 0 / 8%), 0 0 0 2px rgb(244 101 95 / 25%) !important;
        border-color: #fab2af !important;
        background-color: var(--input-focus-bg-color) !important;
      }
    }

    .ng-select-container {
      border: 1px solid transparent !important;
      background-color: var(--input-bg-color) !important;
      border-radius: 0.35rem !important;
      min-height: 37.5px !important;
      box-shadow: none;
      transition: all 0.2s ease;

      .ng-arrow-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        transform: scale(0.75);
        margin-right: 4px;
        &::before {
          content: "\e604";
          font-family: "simple-line-icons";
        }
        .ng-arrow {
          display: none;
        }
      }

      .ng-value-container {
        .ng-placeholder {
          color: rgba(0, 0, 0, 0.6) !important;

        }
        .ng-input {
          margin-top: 1px !important;
        }
      }
    }
  }

  .selector-label {
    font-size: 12px;
    margin-bottom: 0.1rem;
    font-weight: 500;
  }

  .ng-dropdown-panel {
    margin-top: 4px;
    border-radius: 0.35rem;
    .ng-dropdown-panel-items {
      .ng-option:first-child {
        border-top-right-radius: 0.35rem;
        border-top-left-radius: 0.35rem;
      }
      .ng-option:last-child {
        border-bottom-left-radius: 0.35rem;
        border-bottom-right-radius: 0.35rem;
      }
      .ng-option.ng-option-selected {
        background-color: var(--app-white) !important;
      }
      .ng-option.ng-option-marked {
        background-color: var(--app-light) !important;
      }
    }
  }
}
