<div class="modal-header">
  <h5 class="fw-bold mb-0">Agregar País</h5>
</div>
<form #form="ngForm" class="modal-body">
  <app-input placeholder="Nombre" [(ngModel)]="result.name" name="country" class="col-sm-12" required></app-input>
  <app-input
    placeholder="Código ISO"
    [(ngModel)]="result.iso2Code"
    name="iso2Code"
    class="col-sm-12"
    required
  ></app-input>
  <app-input
    placeholder="Código Telefónico"
    [(ngModel)]="result.phoneCode"
    name="telcode"
    class="col-sm-12"
    required
  ></app-input>
</form>
<div class="modal-footer">
  <button class="btn btn-light text-primary" (click)="dismissModal()">Cerrar</button>
  <button class="btn btn-primary" (click)="validateModal(form)">Aceptar</button>
</div>
