<div class="form-group datepicker-container">
  <label class="form-label datepicker-label">{{ label || placeholder }}</label>
  <input
    [(ngModel)]="value"
    ngbDatepicker
    #d="ngbDatepicker"
    class="form-control datepicker-control"
    [placeholder]="placeholder"
    [startDate]="today"
    [minDate]="minDate"
    [maxDate]="maxDate"
    [class.active]="!!value"
    (dateSelect)="onDateChange($event, d)"
    (click)="toggle(d)"
    (closed)="close(d)"
    [class.is-open]="isOpen"
    [restoreFocus]="'btn'"
    [autoClose]="true"
  />

  <span class="calendar-toggle icon-calendar" (click)="toggle(d)" type="button"> </span>
</div>
