<div class="form-group">
  <label class="form-label">{{ label || placeholder }}</label>
  <div class="input-group">
    <input
      [placeholder]="placeholder"
      [(ngModel)]="value"
      ngbDatepicker
      #d="ngbDatepicker"
      class="form-control"
      [startDate]="today"
      [minDate]="minDate"
      [maxDate]="maxDate"
      (dateSelect)="onDateChange($event)"
      (click)="d.toggle()"
    />
    <button class="btn btn-secondary text-primary" (click)="d.toggle()" type="button">
      <i class="fas fa-calendar-alt"></i>
    </button>
  </div>
</div>
