.phone-codes {
  max-width: 80%;
  max-height: 300px;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;

  &.show {
    display: flex;
    flex-direction: column;
  }

  span {
    padding: 0.25rem 0.5rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
  }
}

.phone-input-container {
  .phone-input-label {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 0.1rem;
  }
  .phone-input-selector {
    border: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
    max-height: 45px !important;
    min-width: 0 !important;
  }
  .phone-input-control {
    border-radius: 0.35rem !important;
  }
}
