<div class="form-group">
  <label class="d-block">
    <label class="form-label">{{ label || placeholder }}</label>
    <div class="input-group">
      <input
        [placeholder]="placeholder | translate"
        type="text"
        class="form-control"
        [(ngModel)]="location"
        [ngbTypeahead]="search"
        [resultTemplate]="rt"
        [inputFormatter]="formatInput"
      />
      <button class="btn btn-secondary text-primary" type="button" (click)="openModal(content)">
        <i class="fas fa-plus-circle"></i>
      </button>
      <!-- Custom additional content -->
      <ng-content></ng-content>
    </div>
    <small class="form-text text-muted text-help" *ngIf="!!helperText">
      {{ helperText | translate }}
    </small>
    <!--<small [hidden]="valid || untouched" class="text-danger" translate>
      {{ errorText }}
    </small>-->
  </label>
</div>

<ng-template #rt let-result="result" let-term="term">
  <div class="d-flex align-items-center">
    <ngb-highlight [result]="result?.name" [term]="term"></ngb-highlight>
  </div>
</ng-template>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="mb-0 fw-bold">{{ placeholder }}</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <app-input [(ngModel)]="location.city" class="col-sm-4" placeholder="Pueblo/Ciudad"></app-input>
      <app-input [(ngModel)]="location.state" class="col-sm-4" placeholder="Provincia/Estado"></app-input>
      <app-selector
        [(ngModel)]="location.country"
        [data$]="countries$"
        class="col-sm-4"
        placeholder="País"
      ></app-selector>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="modal.dismiss()">Cerrar</button>
    <button class="btn btn-primary" (click)="modal.close('accept')">Aceptar</button>
  </div>
</ng-template>
