<div class="artist-container container-fluid px-4 h-100">
  <div class="d-flex align-items-center mb-4">
    <span class="btn-icon me-3" routerLink="/artists">
      <i class="fas fa-angle-left"></i>
    </span>
    <h2 class="mb-0 fw-bold">{{ artist?.name || 'Crear nuevo Artista' }}</h2>
  </div>
  <form class="form d-flex flex-column h-100" #form="ngForm" (ngSubmit)="onSubmit(form)">
    <ul #nav="ngbNav" class="nav nav-tabs mb-2" ngbNav [activeId]="currentFragment | async">
      <li ngbNavItem="personal">
        <a ngbNavLink routerLink="." fragment="personal">Datos Personales</a>
        <ng-template ngbNavContent>
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-6">
                <app-input name="nombre" [(ngModel)]="artist.name" placeholder="Nombre" required></app-input>
              </div>
              <div class="col-sm-6">
                <app-input name="alias" [(ngModel)]="artist.alias" placeholder="Alias"></app-input>
              </div>
              <div class="col-sm-12">
                <app-tags
                  name="nombresAdicionales"
                  [(ngModel)]="artist.additionalNames"
                  label="Nombres adicionales"
                  placeholder="Añadir nombre"
                ></app-tags>
              </div>
              <div class="col-sm-12">
                <app-input
                  [(ngModel)]="artist.description"
                  [controlType]="'textarea'"
                  name="description"
                  [placeholder]="'Descripción'"
                ></app-input>
              </div>

              <div class="col-sm-4">
                <app-location
                  placeholder="Lugar de Nacimiento"
                  name="birthPlace"
                  [(location)]="artist.birthPlace"
                  [countries]="countries"
                ></app-location>
              </div>
              <div class="col-sm-4">
                <app-location
                  name="deathPlace"
                  placeholder="Lugar de Muerte"
                  [(location)]="artist.deathPlace"
                  [countries]="countries"
                >
                </app-location>
              </div>
              <div class="col-sm-4">
                <app-location
                  name="residencePlace"
                  placeholder="Lugar de Residencia"
                  [(location)]="artist.residencePlace"
                  [countries]="countries"
                >
                </app-location>
              </div>

              <div class="col-sm-3">
                <app-input name="nationality" [placeholder]="'Nacionalidad'" [(ngModel)]="artist.nationality">
                </app-input>
              </div>

              <div class="col-sm-3">
                <app-datepicker
                  name="birthDate"
                  [(ngModel)]="artist.birthDate"
                  placeholder="Fecha de Nacimiento"
                ></app-datepicker>
              </div>
              <div class="col-sm-3">
                <app-datepicker
                  name="deathDate"
                  [(ngModel)]="artist.deathDate"
                  placeholder="Fecha de Muerte"
                ></app-datepicker>
              </div>

              <div class="col-sm-4">
                <app-radiogroup
                  label="Sexo"
                  class="d-block mt-1 text-center"
                  name="gender"
                  [(ngModel)]="artist.gender"
                  [selectors]="genders"
                ></app-radiogroup>
              </div>
            </div>
          </div>
        </ng-template>
      </li>
      <li ngbNavItem="professional">
        <a ngbNavLink routerLink="." fragment="professional">Datos Profesionales</a>
        <ng-template ngbNavContent>
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-4">
                <app-select
                  [(ngModel)]="artist.jobTitle"
                  name="jobTitle"
                  [placeholder]="'Job Title'"
                  [items]="jobTitles"
                ></app-select>
              </div>
              <div class="col-sm-8">
                <app-tags name="roles" [(ngModel)]="artist.jobRoles" placeholder="Roles"></app-tags>
              </div>
              <div class="col-sm-4">
                <app-input name="isniCode" [(ngModel)]="artist.isniCode" [placeholder]="'ISNI'"> </app-input>
              </div>
              <div class="col-sm-4">
                <app-select
                  name="relatedTo"
                  [(ngModel)]="artist.relatedTo"
                  [placeholder]="'Relacionado con'"
                  [items]="artists"
                ></app-select>
              </div>
              <!--<div class="col-sm-4">
                <app-select
                  name="country"
                  [placeholder]="'Nacionalidad'"
                  [items]="countries"
                  [(ngModel)]="artist.country"
                ></app-select>

              </div>-->
              <div class="col-sm-4">
                <app-input
                  name="activeSince"
                  type="number"
                  [(ngModel)]="artist.activeSince"
                  placeholder="Activo desde"
                ></app-input>
              </div>
              <div class="col-sm-4">
                <app-input
                  name="activeUntil"
                  type="number"
                  [(ngModel)]="artist.activeUntil"
                  placeholder="Activo hasta"
                ></app-input>
              </div>
              <div class="col-sm-4">
                <app-multiselect
                  name="awards"
                  [placeholder]="'Premios'"
                  [items]="awards"
                  [(ngModel)]="artist.awards"
                ></app-multiselect>
              </div>
              <div class="col-sm-4">
                <app-multiselect
                  name="colabs"
                  [placeholder]="'Colaboraciones'"
                  [(ngModel)]="artist.collaborations"
                ></app-multiselect>
              </div>
              <div class="col-sm-4">
                <app-multiselect
                  name="genres"
                  [placeholder]="'Géneros'"
                  [items]="genres"
                  [(ngModel)]="artist.genres"
                ></app-multiselect>
              </div>
              <div class="col-sm-4">
                <app-multiselect
                  name="instruments"
                  [placeholder]="'Instrumentos'"
                  [items]="instruments"
                  [(ngModel)]="artist.instruments"
                ></app-multiselect>
              </div>
              <div class="col-sm-4">
                <app-select
                  name="affiliation"
                  [placeholder]="'Afiliación'"
                  [items]="organizations"
                  [(ngModel)]="artist.affiliation"
                ></app-select>
              </div>
              <div class="col-sm-4">
                <app-select
                  name="studyAt"
                  [placeholder]="'Centro de Estudios'"
                  [(ngModel)]="artist.studyAt"
                ></app-select>
              </div>
              <div class="col-sm-4">
                <app-multiselect
                  name="labels"
                  [placeholder]="'Sellos Discográficos'"
                  [items]="recordLabels"
                  [(ngModel)]="artist.labels"
                ></app-multiselect>
              </div>
            </div>
          </div>
        </ng-template>
      </li>
      <li ngbNavItem="contact">
        <a ngbNavLink routerLink="." fragment="contact">Datos de Contacto</a>
        <ng-template ngbNavContent>
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-4">
                <app-input [placeholder]="'Correo Electrónico'" [(ngModel)]="artist.email" name="email"></app-input>
              </div>
              <div class="col-sm-4">
                <app-input [placeholder]="'Sitio Web'" [(ngModel)]="artist.website" name="website"></app-input>
              </div>
              <div class="col-sm-4">
                <app-input [placeholder]="'Spotify'" [(ngModel)]="artist.spotify" name="spotify"></app-input>
              </div>
              <div class="col-sm-4">
                <app-input [placeholder]="'Apple Music'" [(ngModel)]="artist.appleMusic" name="apple"></app-input>
              </div>
              <div class="col-sm-4">
                <app-input [placeholder]="'Sound Cloud'" [(ngModel)]="artist.soundCloud" name="soundcloud"></app-input>
              </div>
              <div class="col-sm-4">
                <app-input [placeholder]="'Deezer'" [(ngModel)]="artist.deezer" name="deezer"></app-input>
              </div>
              <div class="col-sm-4">
                <app-input [placeholder]="'Youtube'" [(ngModel)]="artist.youtube" name="youtube"></app-input>
              </div>
              <div class="col-sm-4">
                <app-input [placeholder]="'Instagram'" [(ngModel)]="artist.instagram" name="instagram"></app-input>
              </div>
              <div class="col-sm-4">
                <app-input [placeholder]="'Vibrate'" [(ngModel)]="artist.viberate" name="vibrate"></app-input>
              </div>
              <div class="col-sm-4">
                <app-input [placeholder]="'Facebook'" [(ngModel)]="artist.facebook" name="facebook"></app-input>
              </div>
              <div class="col-sm-4">
                <app-input [placeholder]="'Twitter'" [(ngModel)]="artist.twitter" name="twitter"></app-input>
              </div>
              <div class="col-sm-4">
                <app-input [placeholder]="'TikTok'" [(ngModel)]="artist.tiktok" name="tiktok"></app-input>
              </div>
              <div class="col-sm-4">
                <app-input
                  [placeholder]="'Biblioteca del Congreso'"
                  [(ngModel)]="artist.libOfCongress"
                  name="loc"
                ></app-input>
              </div>
            </div>
          </div>
        </ng-template>
      </li>
      <li ngbNavItem="quotes" [disabled]="!isEditMode">
        <a ngbNavLink routerLink="." fragment="quotes">Quotes</a>
        <ng-template ngbNavContent>
          <div class="col-sm-12">
            <div class="d-flex mb-2">
              <button class="btn btn-primary ms-auto" type="button" (click)="addQuote(quoteModal)">
                <i class="fas fa-comment me-2"></i> Agregar Quote
              </button>
            </div>
            <app-table [columns]="quotesColumns" [data]="quotes" [rowHeight]="100"></app-table>
          </div>
        </ng-template>
      </li>
      <li ngbNavItem="articles" [disabled]="!isEditMode">
        <a ngbNavLink routerLink="." fragment="articles">Articulos Relacionados</a>
        <ng-template ngbNavContent>
          <div class="col-sm-12">
            <div class="d-flex mb-2">
              <button class="btn btn-primary ms-auto" type="button" (click)="addArticle(articleModal)">
                <i class="fas fa-link me-2"></i> Agregar Articulo
              </button>
            </div>
            <app-table [columns]="articlesColumns" [data]="articles"></app-table>
          </div>
        </ng-template>
      </li>
      <li ngbNavItem="gallery" [disabled]="!isEditMode">
        <a ngbNavLink routerLink="." fragment="gallery">Galeria</a>
        <ng-template ngbNavContent>
          <div class="col-sm-12">
            <div class="row">
              <app-gallery
                class="col-sm-12"
                [images]="artistImages"
                (submitImage)="uploadArtistImage($event)"
              ></app-gallery>
            </div>
          </div>
        </ng-template>
      </li>
    </ul>
    <div class="row flex-grow-1 mt-2" [ngbNavOutlet]="nav"></div>
    <div class="row">
      <div class="col-sm-12 mb-3">
        <div class="d-flex">
          <button type="submit" class="btn btn-primary ms-auto">Guardar</button>
        </div>
      </div>
    </div>
  </form>
</div>

<ng-template #quoteModal let-modal>
  <div class="modal-header">
    <h5 class="mb-0 fw-bold">Nuevo Quote</h5>
  </div>
  <div class="modal-body">
    <div class="row">
      <app-input [placeholder]="'Autor'" class="col-sm-12" [(ngModel)]="quote.author"></app-input>
      <app-input [placeholder]="'Fuente'" class="col-sm-12" [(ngModel)]="quote.source"></app-input>
      <app-datepicker [placeholder]="'Fecha'" class="col-sm-12" [(ngModel)]="quote.date"></app-datepicker>
      <app-input class="col-sm-12" [placeholder]="'Comentario'" controlType="textarea" [(ngModel)]="quote.quote">
      </app-input>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" type="button" (click)="modal.dismiss()">Cerrar</button>
    <button class="btn btn-primary" type="button" (click)="modal.close('accept')">Aceptar</button>
  </div>
</ng-template>

<ng-template #articleModal let-modal>
  <div class="modal-header">
    <h5 class="mb-0 fw-bold">Nuevo Articulo Relacionado</h5>
  </div>
  <div class="modal-body">
    <div class="row">
      <app-input [placeholder]="'Titulo'" class="col-sm-12" [(ngModel)]="article.title"></app-input>
      <app-input [placeholder]="'Medio'" class="col-sm-12" [(ngModel)]="article.source"></app-input>
      <app-input [placeholder]="'Autor'" class="col-sm-12" [(ngModel)]="article.author"></app-input>
      <app-datepicker [placeholder]="'Fecha'" class="col-sm-12" [(ngModel)]="article.date"></app-datepicker>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" type="button" (click)="modal.dismiss()">Cerrar</button>
    <button class="btn btn-primary" type="button" (click)="modal.close('accept')">Aceptar</button>
  </div>
</ng-template>
