:host {
  ::ng-deep .multiselect-dropdown {
    .dropdown-list {
      padding: 0 !important;
      margin-top: 1px !important;
      font-size: 14px !important;
      box-shadow: 0 0.01rem 0.4rem rgba(0, 0, 0, 0.175) !important;
      .no-data {
        h5 {
          display: none;
        }
      }
      .filter-textbox {
        padding: 6px 10px !important;
        input {
          position: relative;
          padding: 0 !important;
          user-select: none;
        }
      }
      .multiselect-item-checkbox {
        div::before,
        div::after {
          transform: scale(0.8);
        }
        input + div:before {
          background: transparent !important;
          border: 2px solid var(--app-primary) !important;
          color: var(--app-primary) !important;
          animation: none !important;
          border-radius: 0.3rem;
        }
        input:checked + div:before {
          background: var(--app-primary) !important;
          border: 2px solid var(--app-primary) !important;
          color: var(--app-primary) !important;
          animation: none !important;
          border-radius: 0.3rem;
        }
        input + div:after {
          border-color: transparent !important;
        }
        input:checked + div:after {
          border-color: var(--app-light) !important;
        }
      }
    }
    .dropdown-btn {
      padding: 0.225rem 0.7rem !important;
      min-height: 38px !important;
      border-radius: 0.3rem !important;
      line-height: 1.6 !important;
      span:not(.selected-item) {
        vertical-align: inherit;
        color: var(--app-gray-600) !important;
      }
      .dropdown-multiselect__caret {
        line-height: 1.2 !important;
        &::before {
          color: var(--app-gray-800) !important;
          font-size: 16px !important;
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          content: "\f107" !important;
          border: none !important;
          top: 25% !important;
        }
      }
      .selected-item {
        white-space: nowrap !important;
        font-size: 14px !important;
        border: none !important;
        background-color: var(--app-secondary) !important;
        color: var(--app-gray-800) !important;
        border-radius: 0.3rem !important;
        padding: 0.35rem 0.45rem !important;
        display: flex !important;
        align-items: center !important;
        font-weight: 700;
        line-height: 1;
        user-select: none;
        margin-bottom: 2px;
        margin-top: 2px;
        span {
          color: var(--app-gray-800) !important;
        }
        a {
          margin-left: 0.5rem;
          font-size: 0;
          &::before {
            color: var(--app-gray-800);
            font-size: 12px;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f00d";
          }
        }
        &:hover {
          box-shadow: 0 0px 2px 0px #d4d1d1 !important;
        }
      }
    }
  }
}
