<div class="form-group">
  <label class="form-label">{{ label || placeholder }}</label>
  <div class="input-group">
    <ng-multiselect-dropdown
      class="d-block flex-grow-1"
      [class.with-action]="showAction"
      [placeholder]="placeholder"
      [settings]="settings"
      [ngModel]="getSelection()"
      (onSelect)="onItemSelected($event)"
      (onSelectAll)="onSelectAll($event)"
      [ngTemplateOutlet]=""
      [data]="items"
    >
    </ng-multiselect-dropdown>
    <button class="btn btn-input" type="button">
      <i class="input-icon fas fa-angle-down select-caret"></i>
    </button>
    <ng-content></ng-content>
  </div>
</div>
